<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.essam.chatapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Camera features - recommended -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.on_boarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroTheme" />
        <activity
            android:name=".ui.LoginPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name=".ui.verification.VerificationActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.activity.CompleteProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.activity.HomeActivity"
            android:label="@string/home_activity_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.chat.activity.ChatActivity"
            android:parentActivityName=".ui.home.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.contacts.activity.ContactsActivity"
            android:label="@string/select_contact"
            android:parentActivityName=".ui.home.activity.HomeActivity" />
        <activity
            android:name=".ui.photoEditor.PhotoEditorActivity"
            android:label="@string/title_activity_image_presenter"
            android:theme="@style/ImagePresenterTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.home.activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.profile.activity.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.activity.MyProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".ui.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity" />
        </activity>

        <activity android:name=".ui.status.EditStatusActivity"
            android:label="@string/status"
            android:parentActivityName=".ui.profile.activity.MyProfileActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.profile.activity.MyProfileActivity"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.essam.chatapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>